<style>
* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Mochiy Pop P One", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial,'Mochiy Pop P One', sans-serif;
   text-align:	center;
   background-color: #EEEEEE;

}
/*--ヘッダー設定*/
header {
	background-color:white;
	position: fixed; top: 0;
   	top: 0;
   	left: 0; /* 左から配置の基準位置を決める */
	width: 100%; /* ヘッダーの横幅を指定する */
	height: 35px; /* ヘッダーの高さを指定する */
	padding: 10px; /* ヘッダーの余白を指定する(上下左右) */
   	display: flex;
    align-items: center;
    z-index:100;
    border: 1.25px solid #ddd;
}
ul.ser{

}

/* aタグの設定*/
a {
   text-decoration: none;
   color: #4b4b4b;
}

/* iconの設定*/
h1 img{
  width:  32.5px;
  height: 32.5px;
  object-fit: contain;
  position: absolute;
  top: 0px;

}
/* ul要素の設定*/
ul {
	display: flex;
	list-style: none;
	margin-top: 50px;
}
/* li要素の設定*/
li {
   margin: 0 0 20px 15px;
   font-size: 14px;
}
/* nav要素の設定*/
nav {
   margin: 0 0 0 auto;
}


h1.yohaku {
	z-index:10;
	position: relative;
	top: 3px;
	overflow: auto;
	color : #000000;
}

div.sent
{;
    justify-content: center;

}

/* レイアウト用スタイル */
.boxwrap{
  margin:40px auto;
  width:100%;
  padding:20px 60px;
}
.wrap{
    margin: auto;
    width: 300px;
    background-color: white;
    color: #fff;
    border-radius: 15px;

    border:1px solid #ddd;

}

.mgb-20{
  margin-bottom: 20px;
}

.mgb-80{
  margin-bottom: 80px;
}
/* ③tableレイアウトとvertical-alignで中央配置 */
.wrap.pattern-3{
  height:60px;
  display:table;
  text-align:center;
}

.wrap.pattern-3 div{
  display:table-cell;
  vertical-align:middle;
}

.color
{
	color: Black;
}


.else{
    display: flex;
}
.else >.li1
{
width:50;
}
.else >.li2
{
width:50;
}
body{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
footer{
    width: 100%;
    background-color: #89c7de;
    text-align: center;
    padding: 30px 0;
 	position: absolute;
 	bottom: 0;
}
</style>
