<style>
* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Mochiy Pop P One", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial,'Mochiy Pop P One', sans-serif;
   text-align:	center;
   background-color: #EEEEEE;

}
/*--ヘッダー設定*/
header {
	background-color:white;
	position: fixed; top: 0;
   	top: 0;
   	left: 0; /* 左から配置の基準位置を決める */
	width: 100%; /* ヘッダーの横幅を指定する */
	height: 35px; /* ヘッダーの高さを指定する */
	padding: 10px; /* ヘッダーの余白を指定する(上下左右) */
   	display: flex;
    align-items: center;
    z-index:100;
    border: 1.25px solid #ddd;
}
ul.ser{

}

/* aタグの設定*/
a {
   text-decoration: none;
   color: #4b4b4b;
}

/* iconの設定*/
h1 img{
  width:  32.5px;
  height: 32.5px;
  object-fit: contain;
  position: absolute;
  top: 0px;

}
/* ul要素の設定*/
ul {
	display: flex;
	list-style: none;
	margin-top: 50px;
}
/* li要素の設定*/
li {
   margin: 0 0 20px 15px;
   font-size: 14px;
}
/* nav要素の設定*/
nav {
   margin: 0 0 0 auto;
}


h1.yohaku {
	z-index:10;
	position: relative;
	top: 3px;
	overflow: auto;
	color : #000000;
}

div.sent
{;
    justify-content: center;

}
.nonemargin
{
	margin: 30px 50px;

}}

/* レイアウト用スタイル */
.boxwrap{
  margin:40px auto;
  width:100%;
  padding:20px 60px;

}

.wrap{
    margin:auto;
    width: 96%;
    background-color: white;
    color: #fff;
    border-radius: 15px;
    padding:15px;;
    border:1px solid #ddd;
}
.wrap2{
    margin:auto;
    width: 300px;
    background-color: ;
    color: #fff;
    border-radius: 15px;
    padding:15px;;
    border:1px solid #676767;
}
.wrapleft{
	margin: 30px auto;
    width: 100%;;
    height: 500px;
    background-color: white;
    color: #fff;
    border-radius: 15px;
    padding:15px;;
    border:1px solid #ddd;
}

.mgb-20{
  margin-bottom: 20px;
}

.mgb-80{
  margin-bottom: 80px;
}
/* ③tableレイアウトとvertical-alignで中央配置 */
.wrap.pattern-3{
  height:60px;
  display:table;
  text-align:center;
}

.wrap.pattern-3 div {
  vertical-align:middle;
}

.item img {
    width: 200px;  /* 横幅を200pxに */
    height: 200px;
    object-fit: cover;
}
.example{
    display: flex;
}
.example>.a{
	width: 25%;
    padding:25px;
}
.example>.b{
	width: 75%;
    padding:15px;
}
.example2{
    display: flex;
}
.example2>.A{
	width: 25%;
    padding:25px;
}
.example2>.B{
	width: 75%;
    padding:15px;
}
.color
{
	color: Black;
}
.margin
{
	margin:4.65px;
}
 div.0
 {

 }

input[type="range"] {
  -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
  appearance: none;

  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 14px; /* バーの高さ */
  width: 100%; /* バーの幅 */
  background: #8acdff; /* バーの背景色 */
  border-radius: 10px; /* バーの両端の丸み */
  border: solid 1px #dff1ff; /* バー周囲の線 */
}
/* WebKit向けのつまみ */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /*  🚩デフォルトのつまみのスタイルを解除 */
  background: #53aeff; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
}
/* Moz向けのつまみ */
input[type="range"]::-moz-range-thumb {
  background: #53aeff; /* 背景色 */
  width: 24px; /* 幅 */
  height: 24px; /* 高さ */
  border-radius: 50%; /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); /* 影 */
  border: none; /* デフォルトの線を消す */
}
/* Firefoxで点線が周りに表示されてしまう問題の解消 */
input[type="range"]::-moz-focus-outer {
  border: 0;
}
/* つまみをドラッグしているときのスタイル */
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}
.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
.wrapa {
    height: 1080px;
    width: 1920px;
    position: absolute;
    transform-origin: 0% 0%;
}


.else{
    display: flex;
}
.else >.li1
{
width:50;
}
.else >.li2
{
width:50;
}

.img
{
	width:100px;
	height:100px;
	object-fit: cover;
}


body{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
footer{
    width: 100%;
    background-color: #89c7de;
    text-align: center;
    padding: 30px 0;
 	position: absolute;
 	bottom: 0;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
</style>
